{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h2 class="mb-4">Connexion</h2>

		{% if error %}
			<div class="alert alert-danger">Identifiants invalides.</div>
		{% endif %}

		<form method="post" action="{{ path('app_login') }}">
			<div class="mb-3">
				<label for="email">Email</label>
				<input type="email" value="{{ last_username }}" name="_username" id="email" class="form-control" required autofocus>
			</div>

			<div class="mb-3">
				<label for="password">Mot de passe</label>
				<input type="password" name="_password" id="password" class="form-control" required>
			</div>

			<button type="submit" class="btn btn-primary">Connexion</button>
		</form>
	</div>
{% endblock %}
