{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
	<h1>Bienvenue sur le tableau de bord !</h1>

	<p>Vous pouvez personnaliser cette page avec les informations que vous souhaitez afficher.</p>
{% endblock %}
